In [20]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv('grocery.csv',names=["products"],header=None)

In [4]:
df.shape

(19, 1)

In [42]:
df.head

<bound method NDFrame.head of                           products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES>

In [41]:
df[0:1]

             products
0  MILK,BREAD,BISCUIT

In [25]:
'MILK,BREAD,BISCUIT'.split(",")

['MILK', 'BREAD', 'BISCUIT']

In [43]:
data = list(df['products'].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [73]:
!pip install mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

Requirement already satisfied: mlxtend in /opt/anaconda3/lib/python3.7/site-packages (0.17.2)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: scikit-learn>=0.20.3 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: numpy>=1.16.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: scipy>=1.2.1 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (46.0.0.post20200309)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: joblib>=0.13.2 in /opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.14.0)

In [64]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [59]:
from mlxtend.frequent_patterns import apriori

In [96]:
freq_items=apriori(df,min_support=0.15,use_colnames=True,verbose=1)
freq_items.head()

Processing 117 combinations | Sampling itemset size 3

   support     itemsets
0     0.35    (BISCUIT)
1     0.20  (BOURNVITA)
2     0.65      (BREAD)
3     0.15       (COCK)
4     0.40     (COFFEE)

In [94]:
association_rules(freq_items,metric="confidence",min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,(BREAD),(BISCUIT),0.65,0.35,0.20,0.307692,0.879121,-0.0275,0.938889
2,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
3,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
4,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000
5,(COFFEE),(BREAD),0.40,0.65,0.15,0.375000,0.576923,-0.1100,0.560000
6,(MAGGI),(BREAD),0.25,0.65,0.15,0.600000,0.923077,-0.0125,0.875000
7,(BREAD),(MILK),0.65,0.25,0.20,0.307692,1.230769,0.0375,1.083333
8,(MILK),(BREAD),0.25,0.65,0.20,0.800000,1.230769,0.0375,1.750000
9,(SUGER),(BREAD),0.30,0.65,0.20,0.666667,1.025641,0.0050,1.050000
10,(BREAD),(SUGER),0.65,0.30,0.20,0.307692,1.025641,0.0050,1.011111
11,(BREAD),(TEA),0.65,0.35,0.20,0.307692,0.879121,-0.0275,0.938889
12,(TEA),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
13,(COFFEE),(COCK),0.40,0.15,0.15,0.375000,2.500000,0.0900,1.360000
14,(COCK),(COFFEE),0.15,0.40,0.15,1.000000,2.500000,0.0900,inf
15,(COFFEE),(CORNFLAKES),0.40,0.30,0.20,0.500000,1.666667,0.0800,1.400000
16,(CORNFLAKES),(COFFEE),0.30,0.40,0.20,0.666667,1.666667,0.0800,1.800000
17,(SUGER),(COFFEE),0.30,0.40,0.20,0.666667,1.666667,0.0800,1.800000
18,(COFFEE),(SUGER),0.40,0.30,0.20,0.500000,1.666667,0.0800,1.400000
19,(MAGGI),(TEA),0.25,0.35,0.20,0.800000,2.285714,0.1125,3.250000
20,(TEA),(MAGGI),0.35,0.25,0.20,0.571429,2.285714,0.1125,1.750000

**1. Maggi- Bread Karsilastirmasi:** Beraber alinma yuzdesi %15. Maggi alindiginda Bread'inde alinma yuzdesi %60. Yani maggi alinan her 100 alisverisin 60 inda Bread de alinmistir.

**2. Maggi-Tea Karsilastirmasi:** Beraber alinma yuzdesi %20. Maggi alindiginda Tea'nin alinma yuzdesi %80. Her Maggi alinan 100 alisverisin 80ninde Tea de alinmistir

**3. Milk- Bread Karsilastirmasi:** Beraber alinma yuzdesi %20. Milk alindiginda Bread'in alinma yuzdesi %80. Her Milk alinan 100 alisverisin 80ninde Bread de alinmistir.

***Durum Analizi :***
    Bu market icin satislarin tumune baktigimizda ekmek alinma orani %65dir. Sepete en cok giren ekmektir. Ekmek satislarina bagli olarak ekmegin birlikte sepete en cok beraber girdigi urunler %80 lik oranla Maggi ve Milk tir. Bread Maggi ve Milk in standlarini magazanin farkli kesimlerine dagitarak musterilerin daha fazla gezinip alisveris yapmalari saglanabilir. 
    Maggi alanlarin %80inin Tea aldigini da biliyoruz. Maggi, Milk, Tea ve Bread i birbirinden farkli yerlere konumlandirmak mantikli bir secim olacaktir